*{margin: 0;
    padding: 0;

}
#head{
    display: flex;
    justify-content: space-between;
    height: 100px;

}
#head .head_text h3{
    font-size: 30px;
    font-weight: 700;
    color:black;
    margin-left: 200px;
    margin-top: 40px;
}
#head .d_btn button{
    font-size: 30px;
    font-weight: 500;
    color: rgb(32, 26, 26);
    margin-right: 200px;
    margin-top: 40px;
}
/* hero part start */
#hero{
    height: 400px;
    background: url("./images/Hero-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;

}
.btn {
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    font-size: 17px;
    padding: 21px 24px 21px 24px;
    color:black;
    margin: 0px,10px;

}

#hero.hero_text{
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    font-size: 17px;
    padding: 21px 24px 21px 24px;
    color:black;
    margin: 0px,10px;
}




#hero .hero_img{
    display: flex;
    justify-content: center;

}



/* hero part end */
